<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fifin.sistem_pakar_ginjal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/urban"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/urban"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DiagnosaActivity" />
        <activity android:name=".PakarActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".SolusiActivity" />
        <activity android:name=".MyAppActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HasilActivity"></activity>
    </application>

</manifest>